.loader {
  position: relative;
  width: 150px;
  height: 100px;
  margin: 0 auto;
  top: 100%;
  transform: translateY(200%);
}

.loader:before {
  content: "";
  position: absolute;
  bottom: 40px;
  left: 60px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #5a5050;
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 60px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #547a82, -35px 50px 0 #547a82, -70px 95px 0 #547a82;
  animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
  0% {
    transform: scale(1, 0.7);
  }
  40% {
    transform: scale(0.8, 1.2);
  }
  60% {
    transform: scale(1, 1);
  }
  100% {
    bottom: 180px;
  }
}

@keyframes loading-step {
  0% {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0), 0 10px 0 #547a82,
      -35px 50px 0 #547a82, -70px 90px 0 #547a82;
  }
  100% {
    box-shadow: 0 10px 0 #547a82, -35px 50px 0 #547a82, -70px 90px 0 #547a82,
      -70px 90px 0 rgba(0, 0, 0, 0);
  }
}
