.TodoCounter {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 48px;
  font-weight: normal;
}

.TodoCounter span {
  font-weight: bold;
}
@media (max-width: 768px) {
  .TodoCounter {
    padding: 20px;
  }
}
